modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "cd client && npm install --include=dev && npm run build"]
run = ["sh", "-c", "cd backend && npm install && npm start"]